python-multipart

# data science
numpy<2.0.0
pandas==2.2.3

# Uncomment if you use sklearn
scikit-learn==1.6.1

# Install the correct TensorFlow version
# Uncomment if you use TensorFlow
tensorflow==2.19    # For both Intel and Apple silicon
tf-keras

# Google Cloud
# Uncomment if you use Google Cloud Storage
# google-cloud-storage

# API
fastapi
uvicorn

# lire BDD
fastparquet

#face detection
#pour cv2
opencv-python
# cmake pour dlib, à voir si necessaire in the end
# cmake
# dlib-bin
# MTCNN
# torch
# torchvision
# torchaudio
# facenet-pytorch

# utile pour la data preparation only
ultralytics
# insightface
onnxruntime
# mediapipe
# face_alignment
DeepFace


#assess diversity of database
#fairface https://github.com/dchen236/FairFace?tab=readme-ov-file
